In [2]:
# Importo las librerías necesarias
import pandas as pd
import numpy as np
import requests
import http.client
from datetime import datetime, timedelta
import ssl
import json
import time
import matplotlib.pyplot as plt
import zipfile
import zlib

## 1-Extracción de datos

In [2]:
# Defino la URL base y los encabezados de la petición
base_url = 'https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{}/fechafin/{}/todasestaciones'
headers = {
    'accept': 'application/json',
    'api_key': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJkYWxlZG9ndUBnbWFpbC5jb20iLCJqdGkiOiJkZGUwNTdiOC0zNzFhLTRkZDktYjUxOC1kNTVmM2RjZjkwYTYiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTcwMTE4MTI5NCwidXNlcklkIjoiZGRlMDU3YjgtMzcxYS00ZGQ5LWI1MTgtZDU1ZjNkY2Y5MGE2Iiwicm9sZSI6IiJ9.QJn-MC0QM108vEdzEx13iYWTp4CxReytcOiED8R0q10'
}

# Defino las fechas de inicio y fin en fecha de Python
start_date = datetime(1973, 1, 1)
end_date = datetime(2023, 1, 1)

# Inicializo una lista para almacenar los datos
data = []

while start_date < end_date:
    # Calculo la fecha agregando un período de 31 días a la fecha inicial
    request_end_date = start_date + timedelta(days=31)

    # Me aseguro de que "request_end_date" no exceda "end_date"
    if request_end_date > end_date:
        request_end_date = end_date

    # Formateo las fechas como strings en el formato requerido por la API
    start_date_str = start_date.strftime('%Y-%m-%dT%H:%M:%SUTC')
    end_date_str = request_end_date.strftime('%Y-%m-%dT%H:%M:%SUTC')

    # Construyo la URL de la solicitud
    url = base_url.format(start_date_str, end_date_str)

    try:
        # Petición GET a la API
        response = requests.get(url, headers=headers)

        # Compruebo si la petición fue exitosa
        if response.status_code == 200:
            # La API devuelve una URL en la respuesta que debes seguir para obtener los datos
            data_url = response.json()['datos']

            # Hago una segunda petición GET a la URL de los datos
            data_response = requests.get(data_url)

            # Compruebo si la segunda petición fue exitosa
            if data_response.status_code == 200:
                # Añado los datos a la lista
                data.extend(data_response.json())
            else:
                print(f'Error when accessing data URL: {data_response.status_code}')
        else:
            print(f'Error: {response.status_code}')
    except requests.exceptions.RequestException as e:
        print(f'Exception when making GET request: {e}')

    # Incremento la fecha de inicio para la próxima iteración
    start_date = request_end_date

    # Introduzco una pausa de 1 segundo entre cada solicitud para evitar el error 429
    time.sleep(5)

Error: 429

In [3]:
# Convierto la lista de diccionarios extraída en un dataframe llamado clima
clima = pd.DataFrame(data)

In [22]:
# Guardar el DataFrame en un archivo CSV
clima.to_csv('../datasets/clima.csv', index=False)

In [11]:
# Para cargar el CSV
clima = pd.read_csv('../datasets/clima.csv')

## 2-Exploración

In [8]:
# Visualizo las cinco primeras filas
clima.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,tmax,velmedia,sol,presMax,horaPresMax,presMin,horaPresMin,horatmin,horatmax,dir,racha,horaracha
0,1973-01-01,C249I,FUERTEVENTURA AEROPUERTO,LAS PALMAS,25,"13,8","0,0","9,0","18,5","1,7","10,4","1019,8",13,"1016,8",06,NaN,NaN,NaN,NaN,NaN
1,1973-01-01,2462,PUERTO DE NAVACERRADA,MADRID,1893,"-2,3","0,0","-5,2","0,6","0,3","6,6","815,4",24,"810,9",05,00:00,13:30,NaN,NaN,NaN
2,1973-01-01,1387E,A CORUÑA AEROPUERTO,A CORUÑA,98,"5,0","0,0","-2,0","12,0","3,1","8,2","1013,2",11,"1010,8",05,02:30,14:30,14,"7,2",05:30
3,1973-01-01,1212E,ASTURIAS AEROPUERTO,ASTURIAS,127,"6,0","0,0","2,0","10,0","1,1","7,3","1010,7",24,"1008,2",01,07:00,15:00,18,"3,1",01:00
4,1973-01-01,0016A,REUS AEROPUERTO,TARRAGONA,71,"8,7","0,0","4,0","13,4","3,6","1,3","1014,8",24,"1009,4",01,06:20,11:00,36,"6,9",00:40

In [13]:
# Dimensiones de la tabla
clima.shape

(3187269, 20)

In [20]:
# Recuento de los nulos por columna
clima.isnull().sum()

Unnamed: 0           0
fecha                0
indicativo           0
nombre               0
provincia            0
altitud              0
tmed            140816
prec            106778
tmin            138745
tmax            138843
velmedia        308730
sol            1371290
presMax         942730
horaPresMax     942896
presMin         945525
horaPresMin     945901
horatmin        283610
horatmax        281132
dir             465873
racha           466016
horaracha       467690
dtype: int64

In [14]:
# Tipo de datos de cada columna
clima.dtypes

fecha        datetime64[ns]
provincia            object
altitud               int64
tmed                 object
prec                 object
tmin                 object
tmax                 object
dtype: object

## 3.1-Transformación del dataframe

In [12]:
# Creo un dataframe solo con las columnas que me interesan
reg_clima = clima.drop(['indicativo', 'nombre', 'velmedia', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin', 'horatmin', 'horatmax', 'dir', 'racha', 'horaracha'], axis=1)

In [13]:
# Transformo los valores de la columna fecha a Python datetime
reg_clima['fecha'] = pd.to_datetime(reg_clima['fecha'])

In [14]:
# Elimino los valores del 2023 pues el año aún no ha terminado y por lo tanto no tengo todos los datos
reg_clima.drop(reg_clima[reg_clima['fecha'].dt.year == 2023].index, inplace=True)

In [15]:
# Sustituyo por puntos las comas de los valores de las columnas antes de convertirlos a numéricos
reg_clima['tmed'].replace(',', '.', regex=True, inplace=True)
reg_clima['prec'].replace(',', '.', regex=True, inplace=True)
reg_clima['tmin'].replace(',', '.', regex=True, inplace=True)
reg_clima['tmax'].replace(',', '.', regex=True, inplace=True)

In [16]:
# Convierto a numéricas las columnas 'tmed', 'prec', 'tmin' y 'tmax'
reg_clima['tmed'] = pd.to_numeric(reg_clima['tmed'], errors='coerce')
reg_clima['prec'] = pd.to_numeric(reg_clima['prec'], errors='coerce')
reg_clima['tmin'] = pd.to_numeric(reg_clima['tmin'], errors='coerce')
reg_clima['tmax'] = pd.to_numeric(reg_clima['tmax'], errors='coerce')

In [17]:
# Compruebo la cantidad de nulos que hay por columna
reg_clima.isnull().sum()

fecha             0
provincia         0
altitud           0
tmed         140808
prec         195424
tmin         138737
tmax         138835
dtype: int64

In [18]:
# Reemplazo los valores nulos con la media de los valores de su columna
reg_clima.fillna(reg_clima.mean(numeric_only=True), inplace=True)

In [19]:
# Redondeo los valores de tipo float a 2 decimales
reg_clima = reg_clima.round(2)

In [20]:
# Guardo el df en un archivo CSV
reg_clima.to_csv('../datasets/reg_clima.csv', index=False)

In [7]:
# Para cargar el CSV
reg_clima = pd.read_csv('../datasets/reg_clima.csv')

## 3.2-Selección y transformación de los datos

In [41]:
'''# Creo una función que asigna una estación a cada rango de fechas
def asignar_estacion(fecha):
    if 3 <= fecha.month <= 5:
        return 'Primavera'
    elif 6 <= fecha.month <= 8:
        return 'Verano'
    elif 9 <= fecha.month <= 11:
        return 'Otoño'
    else:
        return 'Invierno'
# creo una columna llamada estacion que asigna el nombre de la estación a partir del valor devuelto por la función
reg_clima['estacion'] = reg_clima['fecha'].apply(asignar_estacion)'''

"# Creo una función que asigna una estación a cada rango de fechas\ndef asignar_estacion(fecha):\n    if 3 <= fecha.month <= 5:\n        return 'Primavera'\n    elif 6 <= fecha.month <= 8:\n        return 'Verano'\n    elif 9 <= fecha.month <= 11:\n        return 'Otoño'\n    else:\n        return 'Invierno'\n# creo una columna llamada estacion que asigna el nombre de la estación a partir del valor devuelto por la función\nreg_clima['estacion'] = reg_clima['fecha'].apply(asignar_estacion)"

In [47]:
reg_clima.head(200)

         fecha              provincia  altitud  tmed  prec  tmin  tmax
0   1973-01-01             LAS PALMAS       25  13.8   0.0   9.0  18.5
1   1973-01-01                 MADRID     1893  -2.3   0.0  -5.2   0.6
2   1973-01-01               A CORUÑA       98   5.0   0.0  -2.0  12.0
3   1973-01-01               ASTURIAS      127   6.0   0.0   2.0  10.0
4   1973-01-01              TARRAGONA       71   8.7   0.0   4.0  13.4
..         ...                    ...      ...   ...   ...   ...   ...
195 1973-01-03               A CORUÑA       98   4.2   0.0  -4.5  13.0
196 1973-01-03               ASTURIAS      127   6.6   0.0   1.5  11.7
197 1973-01-03              TARRAGONA       71   6.7   0.0   0.0  13.4
198 1973-01-03  STA. CRUZ DE TENERIFE      632  10.7   0.0   7.2  14.2
199 1973-01-03               ZARAGOZA      249   6.3   0.0   2.0  10.6

[200 rows x 7 columns]

In [29]:
reg_clima.shape

(3187031, 7)

In [30]:
reg_clima.columns

Index(['fecha', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'tmax'], dtype='object')

In [31]:
reg_clima.dtypes

fecha        datetime64[ns]
provincia            object
altitud               int64
tmed                float64
prec                float64
tmin                float64
tmax                float64
dtype: object

In [32]:
#Convierto a datetime la columna fecha
reg_clima['fecha'] = pd.to_datetime(reg_clima['fecha'])

In [39]:
#Creo y guardo un df con los registros climatológicos medios anuales de toda españa
media_anual_espana = reg_clima.resample('Y', on='fecha').mean(numeric_only=True).reset_index()
media_anual_espana = media_anual_espana.drop('altitud', axis=1)
columnas_a_redondear = ['tmed', 'prec', 'tmin', 'tmax']
media_anual_espana[columnas_a_redondear] = media_anual_espana[columnas_a_redondear].round(2)
media_anual_espana.to_csv('../datasets/media_anual_espana.csv', index=False)

In [40]:
media_anual_espana

        fecha   tmed  prec   tmin   tmax
0  1973-12-31  14.33  1.54   9.07  19.58
1  1974-12-31  14.33  1.70   9.22  19.42
2  1975-12-31  14.41  1.76   9.38  19.43
3  1976-12-31  14.32  1.86   9.25  19.39
4  1977-12-31  14.41  2.04   9.55  19.25
5  1978-12-31  14.52  1.83   9.44  19.56
6  1979-12-31  14.64  2.16   9.72  19.53
7  1980-12-31  14.50  1.60   9.29  19.67
8  1981-12-31  14.62  1.57   9.38  19.84
9  1982-12-31  15.20  1.72  10.19  20.21
10 1983-12-31  15.25  1.52  10.00  20.51
11 1984-12-31  14.36  1.90   9.32  19.40
12 1985-12-31  14.96  1.62   9.70  20.23
13 1986-12-31  14.82  1.65   9.68  19.95
14 1987-12-31  15.34  1.99  10.30  20.38
15 1988-12-31  15.02  1.67   9.90  20.13
16 1989-12-31  15.71  1.92  10.53  20.90
17 1990-12-31  15.40  1.49  10.20  20.61
18 1991-12-31  14.66  1.54   9.46  19.85
19 1992-12-31  14.45  1.54   9.21  19.68
20 1993-12-31  14.15  1.53   8.98  19.31
21 1994-12-31  15.19  1.47   9.89  20.49
22 1995-12-31  15.50  1.48  10.24  20.75
23 1996-12-31  14.64  2.04   9.67  19.62
24 1997-12-31  15.66  1.91  10.66  20.66
25 1998-12-31  15.09  1.36   9.94  20.24
26 1999-12-31  14.93  1.55   9.89  19.98
27 2000-12-31  15.03  1.65   9.86  20.19
28 2001-12-31  15.30  1.55  10.23  20.38
29 2002-12-31  15.29  1.78  10.32  20.25
30 2003-12-31  15.58  1.80  10.59  20.57
31 2004-12-31  15.16  1.50  10.12  20.20
32 2005-12-31  15.08  1.24   9.79  20.37
33 2006-12-31  15.81  1.55  10.71  20.90
34 2007-12-31  15.14  1.46   9.96  20.32
35 2008-12-31  14.93  1.77   9.89  19.98
36 2009-12-31  15.74  1.62  10.45  21.04
37 2010-12-31  15.01  2.08  10.02  20.01
38 2011-12-31  15.73  1.45  10.45  21.03
39 2012-12-31  15.14  1.45   9.74  20.55
40 2013-12-31  14.87  1.91   9.79  19.95
41 2014-12-31  15.70  1.77  10.58  20.81
42 2015-12-31  15.86  1.37  10.45  21.27
43 2016-12-31  15.53  1.76  10.33  20.73
44 2017-12-31  15.91  1.32  10.22  21.60
45 2018-12-31  15.31  2.05  10.25  20.37
46 2019-12-31  15.63  1.63  10.13  21.13
47 2020-12-31  16.00  1.71  10.73  21.27
48 2021-12-31  15.54  1.67  10.30  20.77
49 2022-12-31  16.56  1.54  11.10  22.01

In [52]:
#Creo y guardo un dataframe con los datos anuales medios de las provincias de clima continental
provincias = ['MADRID', 'ZARAGOZA', 'TOLEDO', 'NAVARRA', 'BURGOS', 'AVILA', 'PALENCIA', 'CIUDAD REAL', 'BADAJOZ', 'CACERES', 'OURENSE', 'ARABA/ALAVA', 'HUESCA', 'LA RIOJA', 'VALLADOLID', 'ALBACETE', 'LEON', 'LLEIDA', 'GUADALAJARA', 'TERUEL', 'SALAMANCA', 'ZAMORA', 'SORIA', 'SEGOVIA', 'CUENCA']
continental = reg_clima[reg_clima['provincia'].isin(provincias)]
continental = continental.resample('Y', on='fecha').mean(numeric_only=True).reset_index()
continental.drop('altitud', axis=1, inplace=True)
columnas_a_redondear = ['tmed', 'prec', 'tmin', 'tmax']
continental[columnas_a_redondear] = continental[columnas_a_redondear].round(2)
continental.to_csv('../datasets/continental.csv', index=False)

In [3]:
#Cargar el dataframe continental.csv
continental = pd.read_csv('../datasets/continental.csv')

In [53]:
#Creo un dataframe con los datos anuales de las provincias de clima mediterráneo
provincias = ['TARRAGONA', 'GIRONA', 'CADIZ', 'GRANADA', 'ALMERIA', 'MELILLA', 'HUELVA', 'VALENCIA', 'MURCIA', 'JAEN', 'CASTELLON', 'MALAGA', 'ILLES BALEARS', 'CORDOBA', 'SEVILLA', 'BARCELONA', 'CEUTA', 'ALICANTE']
mediterraneo = reg_clima[reg_clima['provincia'].isin(provincias)]
mediterraneo = mediterraneo.resample('Y', on='fecha').mean(numeric_only=True).reset_index()
mediterraneo.drop('altitud', axis=1, inplace=True)
columnas_a_redondear = ['tmed', 'prec', 'tmin', 'tmax']
mediterraneo[columnas_a_redondear] = mediterraneo[columnas_a_redondear].round(2)
mediterraneo.to_csv('../datasets/mediterraneo.csv', index=False)

In [4]:
#Cargar el dataframe mediterraneo.csv
mediterraneo = pd.read_csv('../datasets/mediterraneo.csv')

In [54]:
#Creo un dataframe con los datos anuales de las provincias de clima oceánico
provincias = ['A CORUÑA', 'ASTURIAS', 'PONTEVEDRA', 'GIPUZKOA', 'CANTABRIA', 'BIZKAIA', 'LUGO']
oceanico = reg_clima[reg_clima['provincia'].isin(provincias)]
oceanico = oceanico.resample('Y', on='fecha').mean(numeric_only=True).reset_index()
oceanico.drop('altitud', axis=1, inplace=True)
columnas_a_redondear = ['tmed', 'prec', 'tmin', 'tmax']
oceanico[columnas_a_redondear] = oceanico[columnas_a_redondear].round(2)
oceanico.to_csv('../datasets/oceanico.csv', index=False)

In [5]:
#Cargar el dataframe oceanico.csv
oceanico = pd.read_csv('../datasets/oceanico.csv')

In [56]:
montana = reg_clima[reg_clima['altitud'] > 1500]

In [57]:
montana = montana.resample('Y', on='fecha').mean(numeric_only=True).reset_index()
montana.drop('altitud', axis=1, inplace=True)
columnas_a_redondear = ['tmed', 'prec', 'tmin', 'tmax']
montana[columnas_a_redondear] = montana[columnas_a_redondear].round(2)
montana.to_csv('../datasets/montana.csv', index=False)

In [24]:
#Cargar el dataframe montana.csv
montana = pd.read_csv('../datasets/montana.csv')

In [61]:
montana

        fecha  tmed  prec  tmin   tmax
0  1973-12-31  7.32  2.22  3.15  11.49
1  1974-12-31  6.82  2.51  2.81  10.83
2  1975-12-31  6.90  2.78  3.04  10.76
3  1976-12-31  6.39  3.42  2.63  10.15
4  1977-12-31  6.74  3.28  2.95  10.52
5  1978-12-31  7.85  3.19  3.71  11.99
6  1979-12-31  7.05  4.24  3.15  10.93
7  1980-12-31  6.68  2.76  2.60  10.77
8  1981-12-31  6.84  2.92  2.74  10.95
9  1982-12-31  7.20  2.26  3.53  10.85
10 1983-12-31  7.90  2.11  4.07  11.67
11 1984-12-31  6.36  3.22  2.36  10.35
12 1985-12-31  7.26  1.91  3.17  11.34
13 1986-12-31  7.53  2.05  3.48  11.58
14 1987-12-31  7.78  2.82  3.84  11.71
15 1988-12-31  8.23  2.51  4.35  12.12
16 1989-12-31  7.66  3.19  3.84  11.47
17 1990-12-31  7.48  2.22  3.45  11.41
18 1991-12-31  7.68  2.20  3.57  11.66
19 1992-12-31  7.55  2.73  3.53  11.51
20 1993-12-31  6.93  2.73  2.97  10.78
21 1994-12-31  8.36  2.30  4.13  12.50
22 1995-12-31  8.75  2.26  4.54  12.73
23 1996-12-31  7.70  3.83  3.90  11.54
24 1997-12-31  8.84  3.03  4.72  12.89
25 1998-12-31  8.54  2.01  4.47  12.56
26 1999-12-31  8.17  2.21  4.21  12.13
27 2000-12-31  8.30  2.23  4.26  12.34
28 2001-12-31  8.05  2.07  4.01  12.10
29 2002-12-31  7.90  3.00  4.01  11.75
30 2003-12-31  8.91  2.69  4.72  13.10
31 2004-12-31  7.44  2.08  3.16  11.70
32 2005-12-31  7.59  2.02  3.10  12.10
33 2006-12-31  8.96  2.26  4.50  13.42
34 2007-12-31  7.95  2.14  3.46  12.45
35 2008-12-31  7.91  2.22  3.50  12.32
36 2009-12-31  9.12  1.83  4.49  13.73
37 2010-12-31  8.03  2.99  3.74  12.32
38 2011-12-31  8.61  2.43  4.21  13.02
39 2012-12-31  7.76  2.13  3.15  12.37
40 2013-12-31  7.75  3.02  3.42  12.08
41 2014-12-31  7.79  3.49  3.56  12.03
42 2015-12-31  9.10  2.12  4.47  13.72
43 2016-12-31  8.32  3.28  3.85  12.78
44 2017-12-31  9.27  2.06  4.41  14.12
45 2018-12-31  8.80  3.00  4.62  12.97
46 2019-12-31  8.67  2.52  4.04  13.30
47 2020-12-31  8.68  2.56  4.39  12.98
48 2021-12-31  8.18  2.30  3.91  12.45
49 2022-12-31  9.74  2.34  5.41  14.06