In [14]:
# Importo las librerías necesarias
import pandas as pd
import numpy as np
import requests
import http.client
from datetime import datetime, timedelta
import ssl
import json
import time
import matplotlib.pyplot as plt
import zipfile
import zlib

## 1-Extracción de datos

In [2]:
# Defino la URL base y los encabezados de la petición
base_url = 'https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{}/fechafin/{}/todasestaciones'
headers = {
    'accept': 'application/json',
    'api_key': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJkYWxlZG9ndUBnbWFpbC5jb20iLCJqdGkiOiJkZGUwNTdiOC0zNzFhLTRkZDktYjUxOC1kNTVmM2RjZjkwYTYiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTcwMTE4MTI5NCwidXNlcklkIjoiZGRlMDU3YjgtMzcxYS00ZGQ5LWI1MTgtZDU1ZjNkY2Y5MGE2Iiwicm9sZSI6IiJ9.QJn-MC0QM108vEdzEx13iYWTp4CxReytcOiED8R0q10'
}

# Defino las fechas de inicio y fin en fecha de Python
start_date = datetime(1973, 1, 1)
end_date = datetime(2023, 1, 1)

# Inicializo una lista para almacenar los datos
data = []

while start_date < end_date:
    # Calculo la fecha agregando un período de 31 días a la fecha inicial
    request_end_date = start_date + timedelta(days=31)

    # Me aseguro de que "request_end_date" no exceda "end_date"
    if request_end_date > end_date:
        request_end_date = end_date

    # Formateo las fechas como strings en el formato requerido por la API
    start_date_str = start_date.strftime('%Y-%m-%dT%H:%M:%SUTC')
    end_date_str = request_end_date.strftime('%Y-%m-%dT%H:%M:%SUTC')

    # Construyo la URL de la solicitud
    url = base_url.format(start_date_str, end_date_str)

    try:
        # Petición GET a la API
        response = requests.get(url, headers=headers)

        # Compruebo si la petición fue exitosa
        if response.status_code == 200:
            # La API devuelve una URL en la respuesta que debes seguir para obtener los datos
            data_url = response.json()['datos']

            # Hago una segunda petición GET a la URL de los datos
            data_response = requests.get(data_url)

            # Compruebo si la segunda petición fue exitosa
            if data_response.status_code == 200:
                # Añado los datos a la lista
                data.extend(data_response.json())
            else:
                print(f'Error when accessing data URL: {data_response.status_code}')
        else:
            print(f'Error: {response.status_code}')
    except requests.exceptions.RequestException as e:
        print(f'Exception when making GET request: {e}')

    # Incremento la fecha de inicio para la próxima iteración
    start_date = request_end_date

    # Introduzco una pausa de 1 segundo entre cada solicitud para evitar el error 429
    time.sleep(5)

Error: 429

In [3]:
# Convierto la lista de diccionarios extraída en un dataframe llamado clima
clima = pd.DataFrame(data)

In [22]:
# Guardar el DataFrame en un archivo CSV
clima.to_csv('../datasets/clima.csv', index=False)

In [15]:
# Para cargar el CSV
clima = pd.read_csv('../datasets/clima.csv')

## 2-Exploración

In [8]:
# Visualizo las cinco primeras filas
clima.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,tmax,velmedia,sol,presMax,horaPresMax,presMin,horaPresMin,horatmin,horatmax,dir,racha,horaracha
0,1973-01-01,C249I,FUERTEVENTURA AEROPUERTO,LAS PALMAS,25,"13,8","0,0","9,0","18,5","1,7","10,4","1019,8",13,"1016,8",06,NaN,NaN,NaN,NaN,NaN
1,1973-01-01,2462,PUERTO DE NAVACERRADA,MADRID,1893,"-2,3","0,0","-5,2","0,6","0,3","6,6","815,4",24,"810,9",05,00:00,13:30,NaN,NaN,NaN
2,1973-01-01,1387E,A CORUÑA AEROPUERTO,A CORUÑA,98,"5,0","0,0","-2,0","12,0","3,1","8,2","1013,2",11,"1010,8",05,02:30,14:30,14,"7,2",05:30
3,1973-01-01,1212E,ASTURIAS AEROPUERTO,ASTURIAS,127,"6,0","0,0","2,0","10,0","1,1","7,3","1010,7",24,"1008,2",01,07:00,15:00,18,"3,1",01:00
4,1973-01-01,0016A,REUS AEROPUERTO,TARRAGONA,71,"8,7","0,0","4,0","13,4","3,6","1,3","1014,8",24,"1009,4",01,06:20,11:00,36,"6,9",00:40

In [13]:
# Dimensiones de la tabla
clima.shape

(3187269, 20)

In [20]:
# Recuento de los nulos por columna
clima.isnull().sum()

Unnamed: 0           0
fecha                0
indicativo           0
nombre               0
provincia            0
altitud              0
tmed            140816
prec            106778
tmin            138745
tmax            138843
velmedia        308730
sol            1371290
presMax         942730
horaPresMax     942896
presMin         945525
horaPresMin     945901
horatmin        283610
horatmax        281132
dir             465873
racha           466016
horaracha       467690
dtype: int64

In [14]:
# Tipo de datos de cada columna
clima.dtypes

fecha        datetime64[ns]
provincia            object
altitud               int64
tmed                 object
prec                 object
tmin                 object
tmax                 object
dtype: object

## 3.1-Transformación del dataframe

In [3]:
# Creo un dataframe solo con las columnas que me interesan
reg_clima = clima.drop(['indicativo', 'nombre', 'velmedia', 'sol', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin', 'horatmin', 'horatmax', 'dir', 'racha', 'horaracha'], axis=1)

In [4]:
# Transformo los valores de la columna fecha a Python datetime
reg_clima['fecha'] = pd.to_datetime(reg_clima['fecha'])

In [5]:
# Elimino los valores del 2023 pues el año aún no ha terminado y por lo tanto no tengo todos los datos
reg_clima.drop(reg_clima[reg_clima['fecha'].dt.year == 2023].index, inplace=True)

In [6]:
# Sustituyo por puntos las comas de los valores de las columnas antes de convertirlos a numéricos
reg_clima['tmed'].replace(',', '.', regex=True, inplace=True)
reg_clima['prec'].replace(',', '.', regex=True, inplace=True)
reg_clima['tmin'].replace(',', '.', regex=True, inplace=True)
reg_clima['tmax'].replace(',', '.', regex=True, inplace=True)

In [7]:
# Convierto a numéricas las columnas 'tmed', 'prec', 'tmin' y 'tmax'
reg_clima['tmed'] = pd.to_numeric(reg_clima['tmed'], errors='coerce')
reg_clima['prec'] = pd.to_numeric(reg_clima['prec'], errors='coerce')
reg_clima['tmin'] = pd.to_numeric(reg_clima['tmin'], errors='coerce')
reg_clima['tmax'] = pd.to_numeric(reg_clima['tmax'], errors='coerce')

In [8]:
# Compruebo la cantidad de nulos que hay por columna
reg_clima.isnull().sum()

fecha             0
provincia         0
altitud           0
tmed         140808
prec         195424
tmin         138737
tmax         138835
dtype: int64

In [9]:
# Reemplazo los valores nulos con la media de los valores de su columna
reg_clima.fillna(reg_clima.mean(numeric_only=True), inplace=True)

In [10]:
# Redondeo los valores de tipo float a 2 decimales
reg_clima = reg_clima.round(2)

In [14]:
# Guardo el df en un archivo CSV
reg_clima.to_csv('../datasets/reg_clima.csv', index=False)

In [44]:
# Para cargar el CSV
reg_clima = pd.read_csv('../datasets/reg_clima.csv')

## 3.2-Selección y transformación de los datos

In [41]:
'''# Creo una función que asigna una estación a cada rango de fechas
def asignar_estacion(fecha):
    if 3 <= fecha.month <= 5:
        return 'Primavera'
    elif 6 <= fecha.month <= 8:
        return 'Verano'
    elif 9 <= fecha.month <= 11:
        return 'Otoño'
    else:
        return 'Invierno'
# creo una columna llamada estacion que asigna el nombre de la estación a partir del valor devuelto por la función
reg_clima['estacion'] = reg_clima['fecha'].apply(asignar_estacion)'''

"# Creo una función que asigna una estación a cada rango de fechas\ndef asignar_estacion(fecha):\n    if 3 <= fecha.month <= 5:\n        return 'Primavera'\n    elif 6 <= fecha.month <= 8:\n        return 'Verano'\n    elif 9 <= fecha.month <= 11:\n        return 'Otoño'\n    else:\n        return 'Invierno'\n# creo una columna llamada estacion que asigna el nombre de la estación a partir del valor devuelto por la función\nreg_clima['estacion'] = reg_clima['fecha'].apply(asignar_estacion)"

In [12]:
reg_clima.head(200)

          fecha              provincia  altitud  tmed  prec  tmin  tmax
0    1973-01-01             LAS PALMAS       25  13.8   0.0   9.0  18.5
1    1973-01-01                 MADRID     1893  -2.3   0.0  -5.2   0.6
2    1973-01-01               A CORUÑA       98   5.0   0.0  -2.0  12.0
3    1973-01-01               ASTURIAS      127   6.0   0.0   2.0  10.0
4    1973-01-01              TARRAGONA       71   8.7   0.0   4.0  13.4
..          ...                    ...      ...   ...   ...   ...   ...
195  1973-01-03               A CORUÑA       98   4.2   0.0  -4.5  13.0
196  1973-01-03               ASTURIAS      127   6.6   0.0   1.5  11.7
197  1973-01-03              TARRAGONA       71   6.7   0.0   0.0  13.4
198  1973-01-03  STA. CRUZ DE TENERIFE      632  10.7   0.0   7.2  14.2
199  1973-01-03               ZARAGOZA      249   6.3   0.0   2.0  10.6

[200 rows x 7 columns]

In [13]:
reg_clima.shape

(3187031, 7)

In [18]:
reg_clima.columns

Index(['fecha', 'provincia', 'altitud', 'tmed', 'prec', 'tmin', 'tmax'], dtype='object')

In [27]:
reg_clima.dtypes

fecha         object
provincia     object
altitud        int64
tmed         float64
prec         float64
tmin         float64
tmax         float64
dtype: object

In [5]:
#Convierto a datetime la columna fecha
reg_clima['fecha'] = pd.to_datetime(reg_clima['fecha'])

In [6]:
#Creo y guardo un df con los registros climatológicos medios anuales de toda españa
media_anual_espana = reg_clima.resample('Y', on='fecha').mean(numeric_only=True).reset_index()
media_anual_espana = media_anual_espana.drop('altitud', axis=1)
media_anual_espana.to_csv('../datasets/media_anual_espana.csv', index=False)

In [7]:
media_anual_espana

        fecha       tmed      prec       tmin       tmax
0  1973-12-31  14.331496  1.542760   9.070884  19.582409
1  1974-12-31  14.327445  1.697085   9.224164  19.424043
2  1975-12-31  14.410593  1.762985   9.381199  19.430635
3  1976-12-31  14.322264  1.861293   9.248473  19.393780
4  1977-12-31  14.413334  2.041884   9.554842  19.253921
5  1978-12-31  14.517950  1.832388   9.441892  19.556174
6  1979-12-31  14.643426  2.160484   9.715369  19.526489
7  1980-12-31  14.504430  1.601204   9.287380  19.669289
8  1981-12-31  14.620108  1.571776   9.381127  19.843126
9  1982-12-31  15.196779  1.715450  10.193209  20.206880
10 1983-12-31  15.254275  1.518720   9.995257  20.511879
11 1984-12-31  14.357674  1.903311   9.318182  19.396842
12 1985-12-31  14.964731  1.618524   9.696204  20.232728
13 1986-12-31  14.815633  1.649491   9.681964  19.953756
14 1987-12-31  15.341971  1.988826  10.301450  20.380120
15 1988-12-31  15.017145  1.671731   9.903440  20.131239
16 1989-12-31  15.711877  1.916307  10.530542  20.897915
17 1990-12-31  15.400264  1.492209  10.196728  20.606284
18 1991-12-31  14.657315  1.538643   9.461999  19.849111
19 1992-12-31  14.445480  1.535883   9.206301  19.682164
20 1993-12-31  14.145494  1.532804   8.984124  19.306636
21 1994-12-31  15.193369  1.471282   9.893850  20.491559
22 1995-12-31  15.498590  1.483189  10.238288  20.750557
23 1996-12-31  14.643338  2.044776   9.666177  19.618584
24 1997-12-31  15.660003  1.909979  10.655743  20.662234
25 1998-12-31  15.090543  1.364592   9.937144  20.243136
26 1999-12-31  14.931245  1.550768   9.886066  19.978238
27 2000-12-31  15.026156  1.654460   9.858625  20.193952
28 2001-12-31  15.303251  1.549372  10.231763  20.375872
29 2002-12-31  15.287924  1.784820  10.322377  20.251298
30 2003-12-31  15.577894  1.798176  10.585532  20.571841
31 2004-12-31  15.157500  1.500197  10.118490  20.197661
32 2005-12-31  15.079787  1.237476   9.793937  20.366754
33 2006-12-31  15.805570  1.551877  10.712423  20.900873
34 2007-12-31  15.136004  1.459299   9.963400  20.316527
35 2008-12-31  14.932764  1.768976   9.888212  19.976718
36 2009-12-31  15.741567  1.619627  10.450336  21.042833
37 2010-12-31  15.010085  2.079881  10.015888  20.005323
38 2011-12-31  15.730085  1.452029  10.447650  21.025125
39 2012-12-31  15.143587  1.447670   9.737182  20.554892
40 2013-12-31  14.869922  1.911111   9.794619  19.948991
41 2014-12-31  15.695394  1.765556  10.577682  20.814636
42 2015-12-31  15.856028  1.372177  10.446851  21.266001
43 2016-12-31  15.529036  1.764436  10.326848  20.732587
44 2017-12-31  15.908231  1.315532  10.221478  21.595219
45 2018-12-31  15.311509  2.045431  10.250940  20.372736
46 2019-12-31  15.632047  1.630431  10.134874  21.129719
47 2020-12-31  16.000441  1.708772  10.730248  21.272573
48 2021-12-31  15.537395  1.665909  10.300527  20.774452
49 2022-12-31  16.558520  1.535514  11.103837  22.014053

In [8]:
#Creo y guardo un dataframe con los datos anuales medios de las provincias de clima continental
provincias = ['MADRID', 'ZARAGOZA', 'TOLEDO', 'NAVARRA', 'BURGOS', 'AVILA', 'PALENCIA', 'CIUDAD REAL', 'BADAJOZ', 'CACERES', 'OURENSE', 'ARABA/ALAVA', 'HUESCA', 'LA RIOJA', 'VALLADOLID', 'ALBACETE', 'LEON', 'LLEIDA', 'GUADALAJARA', 'TERUEL', 'SALAMANCA', 'ZAMORA', 'SORIA', 'SEGOVIA', 'CUENCA']
continental = reg_clima[reg_clima['provincia'].isin(provincias)]
continental = continental.resample('Y', on='fecha').mean(numeric_only=True).reset_index()
continental.drop('altitud', axis=1, inplace=True)
continental.to_csv('../datasets/continental.csv', index=False)

In [9]:
#Creo un dataframe con los datos anuales de las provincias de clima mediterráneo
provincias = ['TARRAGONA', 'GIRONA', 'CADIZ', 'GRANADA', 'ALMERIA', 'MELILLA', 'HUELVA', 'VALENCIA', 'MURCIA', 'JAEN', 'CASTELLON', 'MALAGA', 'ILLES BALEARS', 'CORDOBA', 'SEVILLA', 'BARCELONA', 'CEUTA', 'ALICANTE']
mediterraneo = reg_clima[reg_clima['provincia'].isin(provincias)]
mediterraneo = mediterraneo.resample('Y', on='fecha').mean(numeric_only=True).reset_index()
mediterraneo.drop('altitud', axis=1, inplace=True)
mediterraneo.to_csv('../datasets/mediterraneo.csv', index=False)

In [10]:
#Creo un dataframe con los datos anuales de las provincias de clima oceánico
provincias = ['A CORUÑA', 'ASTURIAS', 'PONTEVEDRA', 'GIPUZKOA', 'CANTABRIA', 'BIZKAIA', 'LUGO']
oceanico = reg_clima[reg_clima['provincia'].isin(provincias)]
oceanico = oceanico.resample('Y', on='fecha').mean(numeric_only=True).reset_index()
oceanico.drop('altitud', axis=1, inplace=True)
oceanico.to_csv('../datasets/oceanico.csv', index=False)

In [12]:
montana = reg_clima[reg_clima['altitud'] > 1500]

In [13]:
montana = montana.resample('Y', on='fecha').mean(numeric_only=True).reset_index()
montana.drop('altitud', axis=1, inplace=True)
montana.to_csv('../datasets/montana.csv', index=False)