In [1]:
#!pip install python-aemet

Collecting python-aemet
  Downloading python_aemet-0.4.1-py3-none-any.whl (404 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 404.8/404.8 kB 1.1 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: urllib3 in /Users/davidledo/anaconda3/lib/python3.11/site-packages (from python-aemet) (1.26.16)
Requirement already satisfied: requests in /Users/davidledo/anaconda3/lib/python3.11/site-packages (from python-aemet) (2.29.0)
Requirement already satisfied: click in /Users/davidledo/anaconda3/lib/python3.11/site-packages (from python-aemet) (8.0.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/davidledo/anaconda3/lib/python3.11/site-packages (from requests->python-aemet) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/davidledo/anaconda3/lib/python3.11/site-packages (from requests->python-aemet) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/davidledo/anaconda3/lib/python3.11/site-packages (from requests->python-aemet) (2023.5.7)
Installing collected packages: python-aemet
Successfully installed python-aemet-0.4.1

In [1]:
import pandas as pd
import re
import numpy as np
import requests
import http.client
from datetime import datetime, timedelta
import ssl
import json
import time
import matplotlib.pyplot as plt
from aemet import Aemet

In [6]:
#Creo una instancia aemet con la api_key
aemet = Aemet(api_key='eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJkYWxlZG9ndUBnbWFpbC5jb20iLCJqdGkiOiI3YzVjNDY3My1jMDNhLTQ2NDctOGU3Ni0xMmQwZTFlMGRiNmYiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTcwMTE3MDg4OCwidXNlcklkIjoiN2M1YzQ2NzMtYzAzYS00NjQ3LThlNzYtMTJkMGUxZTBkYjZmIiwicm9sZSI6IiJ9.OY0HBe6PLMmGiHynUy1NlabeRbn-Iv8pq4zwMsIOVIQ')

In [3]:
help(Aemet)

Help on class Aemet in module aemet.models:

class Aemet(AemetHttpClient)
 |  Aemet(api_key='', api_key_file='', headers={}, querystring={}, verbose=False)
 |
 |  Method resolution order:
 |      Aemet
 |      AemetHttpClient
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  descargar_avisos_cap(self, area)
 |      Últimos Avisos de Fenómenos Meteorológicos adversos elaborado para el área seleccionada.
 |      Devuelve un fichero .tar
 |      :param area: Código de la comunidad autónoma
 |
 |  descargar_mapa_analisis(self, archivo_salida)
 |      Descarga una imagen con el mapa de análisis
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |
 |  descargar_mapa_radar_nacional(self, archivo_salida)
 |      Descarga una imagen con el mapa del radar por región
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |
 |  descargar_mapa_radar_regional(self, archivo_salida, region)
 |      Descarga una imagen con el mapa del radar por región
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |      :param region: Región consultada
 |
 |  descargar_mapa_rayos(self, archivo_salida)
 |      Descarga una imagen con el mapa de rayos a nivel nacional
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |
 |  descargar_mapa_riesgo_estimado_incendio(self, archivo_salida, area='p')
 |      Descarga una imagen con el mapa del riesgo estimado de incendio
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |      :param area: [Opcional] Área consultada (PENINSULA, BALEARES o CANARIAS)
 |
 |  descargar_mapa_riesgo_previsto_incendio(self, archivo_salida, dia=1, area='p')
 |      Descarga una imagen con el mapa del riesgo previsto de incendio
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |      :param dia: Día de consulta (+1, +2, +3)
 |      :param area: [Opcional] Área consultada (PENINSULA, BALEARES o CANARIAS)
 |
 |  descargar_mapa_satelite_nvdi(self, archivo_salida)
 |      Descarga una imagen con el mapa del satélite (NVDI)
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |
 |  descargar_mapa_satelite_sst(self, archivo_salida)
 |      Descarga una imagen con el mapa del satélite (SST)
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |
 |  descargar_mapas_significativos(self, archivo_salida, fecha='', ambito='esp', dia='a')
 |      Descarga una imagen con los mapas significativos
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |      :param fecha: Fecha
 |      :param ambito: Código de Comunidad Autónoma o de España
 |      :param dia: Código para fecha determinada [a, b, c, d, e, f]
 |      Ver MAPAS_SIGNIFICATIVOS_DIAS
 |
 |  descargar_productos_climatologicos(self, archivo_salida, anyo, decena)
 |      Se obtiene, para la decema y el año pasados por parámetro, el Boletín
 |      Hídrico Nacional que se elabora cada diez días. Se presenta información
 |      resumida de forma distribuida para todo el territorio nacional de
 |      diferentes variables, en las que se incluye informaciones de la
 |      precipitación y la evapotranspiración potencial acumuladas desde el 1 de septiembre.
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |      :param anyo: Año de consulta
 |      :param decena: Número de la decena de días que se va a consultar
 |
 |  descargar_resumen_mensual_climatologico(self, archivo_salida, anyo, mes)
 |      Resumen climatológico nacional, para el año y mes pasado por parámetro,
 |      sobre el estado del clima y la evolución de las principales variables
 |      climáticas, en especial temperatura y precipitación, a nivel mensual, estacional y anual.
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |      :param anyo: Año de consulta
 |      :param mes: Mes de consulta
 |
 |  get_archivo_codigos_idema(self, archivo_salida)
 |      Crea un archivo json con todos los registros de estaciones de IDEMA
 |      :param archivo_salida: Nombre del archivo de salida
 |
 |  get_contaminacion_fondo(self, estacion, raw=True)
 |      Obtiene los datos de contaminación de fondo. (último elaborado)
 |
 |      :param estacion: identificador de la estación
 |      :return: Devuelve list si raw=True, si no, dict
 |
 |  get_fecha_hoy(self)
 |      Devuelve la fecha formateada en el formato que acepta AEMET
 |
 |  get_municipio(self, id_municipio)
 |
 |  get_observacion_convencional(self, estacion='', raw=False)
 |      Devuelve un objeto de la clase Observacion con los datos de la consulta
 |      sobre una estación
 |      :param estacion: [Opcional] Id de la estación a consultar. Por defecto, estación de Madrid
 |      :param raw: [Opcional] Devuelve el resultado en formato json
 |
 |  get_prediccion(self, codigo_municipio, periodo='PERIODO_SEMANA', raw=False)
 |      Devuelve un objeto de la clase Prediccion dado un código de municipio y
 |      un periodo de consulta.
 |      :param codigo_municipio: Código del municipio
 |      :param periodo: Periodo de tiempo a consultar, determinado por las constantes PERIODO_SEMANA (p.d.) y PERIODO_DIA
 |      :param raw: [Opcional] Devolver el resultado en formato json
 |
 |  get_prediccion_especifica_montanya(self, area, dia=-1, raw=False)
 |      Predicción meteorológica para la zona montañosa que se pasa como parámetro
 |      (area) con validez para el día (día). Periodicidad de actualización: continuamente
 |      :param area: Área de consulta
 |      :param dia: [Opcional] Día a consultar (0, +1, +2, +3)
 |      :param raw: [Opcional] Devolver el resultado en formato json
 |
 |  get_prediccion_especifica_playa(self, playa, raw=False)
 |      La predicción diaria de la playa que se pasa como parámetro.
 |      Establece el estado de nubosidad para unas horas determinadas, las 11 y
 |      las 17 hora oficial. Se analiza también si se espera precipitación en
 |      el entorno de esas horas, entre las 08 y las 14 horas y entre las 14 y 20 horas.
 |      :param playa: ID de la playa
 |      :param raw: [Opcional] Devuelve el resultado en formato json
 |
 |  get_prediccion_especifica_uvi(self, dia=0)
 |      Predicción de Índice de radiación UV máximo en condiciones de cielo
 |      despejado para el día seleccionado.
 |      :param dia: Día de consulta (0, 1, 2, 3, 4)
 |
 |  get_prediccion_maritima(self, tipo='costera', costa='', area='', raw=False)
 |      Devuelve un objeto de la clase PrediccionMaritima dado un tipo de predicción
 |      (TIPO_COSTERA por defecto o TIPO_ALTA_MAR) y un valor de costa o un valor de área
 |      :param tipo: Si es de COSTA o de ALTA MAR (definidos por las constantes TIPO_COSTERA y TIPO_ALTA_MAR)
 |      :param costa: Id de la costa
 |      :param area: Id del área
 |      :param raw: [Opcional] Devuelve el resultado en formato json
 |
 |  get_prediccion_nivologica(self, area)
 |      Información nivológica para la zona montañosa que se pasa como parámetro (area)
 |      :param area: Área de consulta (0: Pirineo Catalán 1: Pirineo Navarro y Aragonés)
 |
 |  get_prediccion_normalizada(self, ambito='nacional', dia='hoy', ccaa='', provincia='', fecha_elaboracion='')
 |      Devuelve el texto elaborado por AEMET de la predicción meteorológica para
 |      un determinado ámbito, día, Comunidad Autónoma, provincia y/o fecha de elaboración.
 |      :param ambito: Ámbito a consultar para la predicción (Constantes NACIONAL (p.d.), CCAA, PROVINCIA)
 |      :param dia: Día a consultar (Constantes HOY (p.d.), MANANA, PASADO_MANANA)
 |      :param ccaa: ID de la Comunidad Autónoma
 |      :param provincia: ID de la provincia
 |      :param fecha_elaboracion: Fecha de elaboración de la predicción
 |
 |  get_valores_climatologicos_diarios(self, fechaini, fechafin, estacion, raw=False)
 |      Devuelve un diccionario con la información de todas las estaciones
 |      :param fechaini: Fecha inicio consulta
 |      :param fechafin: Fecha fin consulta
 |      :param estacion: ID de estación de IDEMA
 |      :param raw: [Opcional] Devuelve el resultado en formato json
 |
 |  get_valores_climatologicos_extremos(self, estacion, parametro='P')
 |      Valores extremos para la estación y la variable (precipitación, temperatura y viento) pasadas por parámetro.
 |      Periodicidad: 1 vez al día.
 |      :param estacion: ID de la estación de IDEMA
 |      :param parametro: Valores de las constantes (VCP, VCT, VCV)
 |
 |  get_valores_climatologicos_mensuales(self, anyo, estacion, raw=False)
 |      Devuelve un diccionario con la información de todas las estaciones
 |      :param anyo: Año de consulta
 |      :param estacion: ID de estación de IDEMA
 |      :param raw: [Opcional] Devuelve el resultado en formato json
 |
 |  get_valores_climatologicos_normales(self, estacion, raw=False)
 |      Valores climatológicos normales (periodo 1981-2010) para la estación pasada por parámetro.
 |      Periodicidad: 1 vez al día.
 |      :param estacion: ID de la estación de IDEMA
 |      :param raw: [Opcional] Devuelve el resultado en formato json
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from AemetHttpClient:
 |
 |  __init__(self, api_key='', api_key_file='', headers={}, querystring={}, verbose=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  download_file_from_url(self, url, out_file)
 |      Creates a new file with the content of the image response from an url
 |      :param url: The URL
 |      :param out_file: Image filename
 |
 |  download_image_from_url(self, url, out_file)
 |      Creates a new file with the content of the image response from an url
 |      :param url: The URL
 |      :param out_file: Image filename
 |
 |  get_api_key(self)
 |
 |  get_headers(self)
 |
 |  get_querystring(self)
 |
 |  get_request_data(self, url, todos=False)
 |      Returns the JSON formatted request data
 |
 |  get_request_normalized_data(self, url, raw=False)
 |      Return the request raw content data
 |
 |  set_api_key(self, api_key)
 |
 |  set_headers(self, headers)
 |
 |  set_querystring(self, querystring)
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from AemetHttpClient:
 |
 |  guardar_clave_api()
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from AemetHttpClient:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [7]:
#Descargo la lista de estaciones meteorológicas en el archivo idema.txt
aemet.get_archivo_codigos_idema('../datasets/idema.txt')

In [9]:
#Cargo el archivo donde he guardado las estaciones
idema = pd.read_csv('../datasets/idema.txt', delimiter='\t')

In [10]:
#Transformo el df para tener dos columnas, una para la estacion y otra para su descripción
idema[['estacion', 'descripcion']] = idema['{'].str.split(':', expand=True)
idema['estacion'] = idema['estacion'].str.replace(' ', '').str.replace('"', '').str.replace(':', '')
idema.drop('{', axis=1, inplace=True)

In [11]:
#Creo una función para buscar estaciones según su ubicación
def buscar_estaciones(ubicacion):
    return idema[idema['descripcion'].str.contains(ubicacion, case=False, na=False)]

In [12]:
#Creo una función para encontrar los registros de una estación en los años 1985 y 2022
def valores_mensuales_anyo(estacion, anyo_ini, anyo_fin):
    valores=[]
    for anyo in range(anyo_ini, anyo_fin+1):
        valores.extend(aemet.get_valores_climatologicos_mensuales(anyo, estacion))
        time.sleep(5)
    df = pd.DataFrame(valores)
    return df

In [13]:
#Busco las estaciones de Lugo
buscar_estaciones('lugo')

    estacion          descripcion
140     1505        "LUGO/ROZAS",
141    1518A   "LUGO-COL.FINGOI",

In [14]:
#Obtengo los registros de la estacion de Lugo/Rozas entre 1985 y 2022
lugo = valores_mensuales_anyo(1505, 1985, 2022)

In [5]:
#Guardo el dataframe obtenido
lugo.to_csv('../datasets/lugo.csv', index=False)

In [37]:
#Para cargar el CSV
lugo = pd.read_csv('../datasets/lugo.csv')

In [16]:
#Busco las estaciones de Barcelona
buscar_estaciones('barcelona')

   estacion               descripcion
7      0076   "BARCELONA/AEROPUERTO",
16    0201D          "BARCELONA CMT",
17    0201X   "BARCELONA  DRASSANES",

In [18]:
#Obtengo los registros de la estacion de Barcelona/Aeropuerto entre 1985 y 2022
barcelona = valores_mensuales_anyo('0076', 1985, 2022)

In [103]:
#Guardo el dataframe obtenido
barcelona.to_csv('../datasets/barcelona.csv', index=False)

In [40]:
#Para cargar el CSV
barcelona = pd.read_csv('../datasets/barcelona.csv')

In [100]:
#Busco las estaciones de Ávila
buscar_estaciones('toledo')

    estacion                           descripcion
278    3254Y   "MORA DE TOLEDO (AUTOM\u00c1TICA)",
279    3260B                             "TOLEDO",

In [78]:
#Obtengo los registros de la estacion de Toledo entre 1985 y 2022
toledo = valores_mensuales_anyo('3260B', 1985, 2022)

In [104]:
#Guardo el dataframe obtenido
toledo.to_csv('../datasets/toledo.csv', index=False)

In [41]:
#Para cargar el CSV
toledo = pd.read_csv('../datasets/toledo.csv')

## Exploración y transformación de las tablas

In [120]:
lugo.shape

(494, 45)

In [121]:
lugo.columns

Index(['fecha', 'indicativo', 'p_max', 'n_cub', 'hr', 'n_gra', 'n_fog', 'inso',
       'q_max', 'q_mar', 'q_med', 'tm_min', 'ta_max', 'ts_min', 'nt_30',
       'nv_0050', 'n_des', 'np_100', 'n_nub', 'p_sol', 'np_001', 'ta_min',
       'w_rec', 'e', 'np_300', 'nv_1000', 'evap', 'p_mes', 'n_llu', 'n_tor',
       'w_med', 'nt_00', 'ti_max', 'n_nie', 'tm_mes', 'tm_max', 'nv_0100',
       'q_min', 'np_010', 'nw_55', 'w_racha', 'nw_91', 'ts_20', 'ts_10',
       'ts_50'],
      dtype='object')

In [123]:
lugo.dtypes

fecha      object
p_mes     float64
tm_min    float64
ta_max     object
ta_min     object
p_mes     float64
n_llu     float64
tm_mes    float64
tm_max    float64
tm_min    float64
dtype: object

In [6]:
lugo.head()

,fecha,p_mes,tm_min,ta_max,ta_min,p_mes,n_llu,tm_mes,tm_max,tm_min
0,1985-10,17.2,6.2,27.4(13),-1.4(30),17.2,4.0,13.5,20.8,6.2
1,1985-11,103.0,3.2,20.0(07),-5.6(24),103.0,14.0,7.9,12.5,3.2
2,1985-12,151.8,3.0,23.4(02),-3.4(17),151.8,18.0,7.1,11.2,3.0
3,1985-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1985-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
lugo.isnull().sum()

fecha      0
p_mes     18
tm_min    20
ta_max    20
ta_min    20
p_mes     18
n_llu     43
tm_mes    20
tm_max    20
tm_min    20
dtype: int64

In [21]:
#Creo una función para seleccionar solo con las columnas que tienen valores que me interesan

def columnas_valores(dataframe):
    columnas = ['fecha', 'p_mes', 'n_llu', 'ta_max', 'ta_min', 'tm_mes', 'tm_max', 'tm_min']
    return dataframe[columnas]

In [22]:
#Creo una función para eliminar los caracteres que no sean número, punto o guion

def eliminar_caracteres(dataframe):
    for columna in dataframe.columns:
        dataframe.loc[:, columna] = dataframe[columna].astype(str).replace('[^0-9\.\-]', '', regex=True)
    return dataframe

In [23]:
'''He observado que la fila que contiene la fecha con el mes 13 contiene un resumen del año, creo una función
para crear un df con los registros anuales'''

def dataframe_anual(dataframe):
    return dataframe[dataframe['fecha'].str.contains('-13', na=False)].reset_index(drop=True)

In [24]:
#Creo una función para formatear la columna fecha antes de convertirla a datetime
def format_fecha(dataframe):
    dataframe['fecha'] = dataframe['fecha'].str.replace('-13', '')
    return dataframe

In [25]:
#Creo una función para convertir la columna a datetime
def a_datetime(dataframe):
    dataframe['fecha'] = pd.to_datetime(dataframe['fecha']).dt.year
    return dataframe

In [26]:
#Creo una función que convierte los valores del dataframe a numéricos
def a_numeric(dataframe):
    dataframe = dataframe.apply(pd.to_numeric, errors='coerce')
    return dataframe

In [27]:
#Creo una función que sustituye los NaN por la media de los valores de la columna
def nan_por_media(dataframe):
    dataframe = dataframe.fillna(dataframe.mean())
    dataframe = dataframe.round(2)
    return dataframe

In [28]:
#Creo una función para guardar el dataframe
def guardar_df(dataframe, nombre_archivo):
    dataframe.to_csv('../datasets/' + nombre_archivo + '.csv', index=False)

In [38]:
#Transformación del df lugo en lugo_anual
lugo = columnas_valores(lugo)
lugo = eliminar_caracteres(lugo)
lugo_anual = dataframe_anual(lugo)
lugo_anual = format_fecha(lugo_anual)
lugo_anual = a_datetime(lugo_anual)
lugo_anual = a_numeric(lugo_anual)
lugo_anual = nan_por_media(lugo_anual)
guardar_df(lugo_anual, 'lugo_anual')

In [34]:
#Para cargar el CSV lugo_anual
lugo_anual = pd.read_csv('../datasets/lugo_anual.csv')

In [39]:
#Transformación del df barcelona en barcelona_anual
barcelona = columnas_valores(barcelona)
barcelona = eliminar_caracteres(barcelona)
barcelona_anual = dataframe_anual(barcelona)
barcelona_anual = format_fecha(barcelona_anual)
barcelona_anual = a_datetime(barcelona_anual)
barcelona_anual = a_numeric(barcelona_anual)
barcelona_anual = nan_por_media(barcelona_anual)
guardar_df(barcelona_anual, 'barcelona_anual')

In [36]:
#Para cargar el CSV barcelona_anual
barcelona_anual = pd.read_csv('../datasets/barcelona_anual.csv')

In [42]:
#Transformación del df toledo en toledo_anual
toledo = columnas_valores(toledo)
toledo = eliminar_caracteres(toledo)
toledo_anual = dataframe_anual(toledo)
toledo_anual = format_fecha(toledo_anual)
toledo_anual = a_datetime(toledo_anual)
toledo_anual = a_numeric(toledo_anual)
toledo_anual = nan_por_media(toledo_anual)
guardar_df(toledo_anual, 'toledo_anual')

In [44]:
#Para cargar el CSV toledo_anual
toledo_anual = pd.read_csv('../datasets/toledo_anual.csv')