In [1]:
#!pip install python-aemet

Collecting python-aemet
  Downloading python_aemet-0.4.1-py3-none-any.whl (404 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 404.8/404.8 kB 1.1 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: urllib3 in /Users/davidledo/anaconda3/lib/python3.11/site-packages (from python-aemet) (1.26.16)
Requirement already satisfied: requests in /Users/davidledo/anaconda3/lib/python3.11/site-packages (from python-aemet) (2.29.0)
Requirement already satisfied: click in /Users/davidledo/anaconda3/lib/python3.11/site-packages (from python-aemet) (8.0.4)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/davidledo/anaconda3/lib/python3.11/site-packages (from requests->python-aemet) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/davidledo/anaconda3/lib/python3.11/site-packages (from requests->python-aemet) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/davidledo/anaconda3/lib/python3.11/site-packages (from requests->python-aemet) (2023.5.7)
Installing collected packages: python-aemet
Successfully installed python-aemet-0.4.1

In [1]:
import pandas as pd
import re
import numpy as np
import requests
import http.client
from datetime import datetime, timedelta
import ssl
import json
import time
import matplotlib.pyplot as plt
from aemet import Aemet

In [2]:
#Creo una instancia aemet con la api_key
aemet = Aemet(api_key='eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJkYWxlZG9ndUBnbWFpbC5jb20iLCJqdGkiOiI3YzVjNDY3My1jMDNhLTQ2NDctOGU3Ni0xMmQwZTFlMGRiNmYiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTcwMTE3MDg4OCwidXNlcklkIjoiN2M1YzQ2NzMtYzAzYS00NjQ3LThlNzYtMTJkMGUxZTBkYjZmIiwicm9sZSI6IiJ9.OY0HBe6PLMmGiHynUy1NlabeRbn-Iv8pq4zwMsIOVIQ')

In [3]:
help(Aemet)

Help on class Aemet in module aemet.models:

class Aemet(AemetHttpClient)
 |  Aemet(api_key='', api_key_file='', headers={}, querystring={}, verbose=False)
 |
 |  Method resolution order:
 |      Aemet
 |      AemetHttpClient
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  descargar_avisos_cap(self, area)
 |      Últimos Avisos de Fenómenos Meteorológicos adversos elaborado para el área seleccionada.
 |      Devuelve un fichero .tar
 |      :param area: Código de la comunidad autónoma
 |
 |  descargar_mapa_analisis(self, archivo_salida)
 |      Descarga una imagen con el mapa de análisis
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |
 |  descargar_mapa_radar_nacional(self, archivo_salida)
 |      Descarga una imagen con el mapa del radar por región
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |
 |  descargar_mapa_radar_regional(self, archivo_salida, region)
 |      Descarga una imagen con el mapa del radar por región
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |      :param region: Región consultada
 |
 |  descargar_mapa_rayos(self, archivo_salida)
 |      Descarga una imagen con el mapa de rayos a nivel nacional
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |
 |  descargar_mapa_riesgo_estimado_incendio(self, archivo_salida, area='p')
 |      Descarga una imagen con el mapa del riesgo estimado de incendio
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |      :param area: [Opcional] Área consultada (PENINSULA, BALEARES o CANARIAS)
 |
 |  descargar_mapa_riesgo_previsto_incendio(self, archivo_salida, dia=1, area='p')
 |      Descarga una imagen con el mapa del riesgo previsto de incendio
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |      :param dia: Día de consulta (+1, +2, +3)
 |      :param area: [Opcional] Área consultada (PENINSULA, BALEARES o CANARIAS)
 |
 |  descargar_mapa_satelite_nvdi(self, archivo_salida)
 |      Descarga una imagen con el mapa del satélite (NVDI)
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |
 |  descargar_mapa_satelite_sst(self, archivo_salida)
 |      Descarga una imagen con el mapa del satélite (SST)
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |
 |  descargar_mapas_significativos(self, archivo_salida, fecha='', ambito='esp', dia='a')
 |      Descarga una imagen con los mapas significativos
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |      :param fecha: Fecha
 |      :param ambito: Código de Comunidad Autónoma o de España
 |      :param dia: Código para fecha determinada [a, b, c, d, e, f]
 |      Ver MAPAS_SIGNIFICATIVOS_DIAS
 |
 |  descargar_productos_climatologicos(self, archivo_salida, anyo, decena)
 |      Se obtiene, para la decema y el año pasados por parámetro, el Boletín
 |      Hídrico Nacional que se elabora cada diez días. Se presenta información
 |      resumida de forma distribuida para todo el territorio nacional de
 |      diferentes variables, en las que se incluye informaciones de la
 |      precipitación y la evapotranspiración potencial acumuladas desde el 1 de septiembre.
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |      :param anyo: Año de consulta
 |      :param decena: Número de la decena de días que se va a consultar
 |
 |  descargar_resumen_mensual_climatologico(self, archivo_salida, anyo, mes)
 |      Resumen climatológico nacional, para el año y mes pasado por parámetro,
 |      sobre el estado del clima y la evolución de las principales variables
 |      climáticas, en especial temperatura y precipitación, a nivel mensual, estacional y anual.
 |      :param archivo_salida: Nombre del archivo en el que se va a guardar
 |      :param anyo: Año de consulta
 |      :param mes: Mes de consulta
 |
 |  get_archivo_codigos_idema(self, archivo_salida)
 |      Crea un archivo json con todos los registros de estaciones de IDEMA
 |      :param archivo_salida: Nombre del archivo de salida
 |
 |  get_contaminacion_fondo(self, estacion, raw=True)
 |      Obtiene los datos de contaminación de fondo. (último elaborado)
 |
 |      :param estacion: identificador de la estación
 |      :return: Devuelve list si raw=True, si no, dict
 |
 |  get_fecha_hoy(self)
 |      Devuelve la fecha formateada en el formato que acepta AEMET
 |
 |  get_municipio(self, id_municipio)
 |
 |  get_observacion_convencional(self, estacion='', raw=False)
 |      Devuelve un objeto de la clase Observacion con los datos de la consulta
 |      sobre una estación
 |      :param estacion: [Opcional] Id de la estación a consultar. Por defecto, estación de Madrid
 |      :param raw: [Opcional] Devuelve el resultado en formato json
 |
 |  get_prediccion(self, codigo_municipio, periodo='PERIODO_SEMANA', raw=False)
 |      Devuelve un objeto de la clase Prediccion dado un código de municipio y
 |      un periodo de consulta.
 |      :param codigo_municipio: Código del municipio
 |      :param periodo: Periodo de tiempo a consultar, determinado por las constantes PERIODO_SEMANA (p.d.) y PERIODO_DIA
 |      :param raw: [Opcional] Devolver el resultado en formato json
 |
 |  get_prediccion_especifica_montanya(self, area, dia=-1, raw=False)
 |      Predicción meteorológica para la zona montañosa que se pasa como parámetro
 |      (area) con validez para el día (día). Periodicidad de actualización: continuamente
 |      :param area: Área de consulta
 |      :param dia: [Opcional] Día a consultar (0, +1, +2, +3)
 |      :param raw: [Opcional] Devolver el resultado en formato json
 |
 |  get_prediccion_especifica_playa(self, playa, raw=False)
 |      La predicción diaria de la playa que se pasa como parámetro.
 |      Establece el estado de nubosidad para unas horas determinadas, las 11 y
 |      las 17 hora oficial. Se analiza también si se espera precipitación en
 |      el entorno de esas horas, entre las 08 y las 14 horas y entre las 14 y 20 horas.
 |      :param playa: ID de la playa
 |      :param raw: [Opcional] Devuelve el resultado en formato json
 |
 |  get_prediccion_especifica_uvi(self, dia=0)
 |      Predicción de Índice de radiación UV máximo en condiciones de cielo
 |      despejado para el día seleccionado.
 |      :param dia: Día de consulta (0, 1, 2, 3, 4)
 |
 |  get_prediccion_maritima(self, tipo='costera', costa='', area='', raw=False)
 |      Devuelve un objeto de la clase PrediccionMaritima dado un tipo de predicción
 |      (TIPO_COSTERA por defecto o TIPO_ALTA_MAR) y un valor de costa o un valor de área
 |      :param tipo: Si es de COSTA o de ALTA MAR (definidos por las constantes TIPO_COSTERA y TIPO_ALTA_MAR)
 |      :param costa: Id de la costa
 |      :param area: Id del área
 |      :param raw: [Opcional] Devuelve el resultado en formato json
 |
 |  get_prediccion_nivologica(self, area)
 |      Información nivológica para la zona montañosa que se pasa como parámetro (area)
 |      :param area: Área de consulta (0: Pirineo Catalán 1: Pirineo Navarro y Aragonés)
 |
 |  get_prediccion_normalizada(self, ambito='nacional', dia='hoy', ccaa='', provincia='', fecha_elaboracion='')
 |      Devuelve el texto elaborado por AEMET de la predicción meteorológica para
 |      un determinado ámbito, día, Comunidad Autónoma, provincia y/o fecha de elaboración.
 |      :param ambito: Ámbito a consultar para la predicción (Constantes NACIONAL (p.d.), CCAA, PROVINCIA)
 |      :param dia: Día a consultar (Constantes HOY (p.d.), MANANA, PASADO_MANANA)
 |      :param ccaa: ID de la Comunidad Autónoma
 |      :param provincia: ID de la provincia
 |      :param fecha_elaboracion: Fecha de elaboración de la predicción
 |
 |  get_valores_climatologicos_diarios(self, fechaini, fechafin, estacion, raw=False)
 |      Devuelve un diccionario con la información de todas las estaciones
 |      :param fechaini: Fecha inicio consulta
 |      :param fechafin: Fecha fin consulta
 |      :param estacion: ID de estación de IDEMA
 |      :param raw: [Opcional] Devuelve el resultado en formato json
 |
 |  get_valores_climatologicos_extremos(self, estacion, parametro='P')
 |      Valores extremos para la estación y la variable (precipitación, temperatura y viento) pasadas por parámetro.
 |      Periodicidad: 1 vez al día.
 |      :param estacion: ID de la estación de IDEMA
 |      :param parametro: Valores de las constantes (VCP, VCT, VCV)
 |
 |  get_valores_climatologicos_mensuales(self, anyo, estacion, raw=False)
 |      Devuelve un diccionario con la información de todas las estaciones
 |      :param anyo: Año de consulta
 |      :param estacion: ID de estación de IDEMA
 |      :param raw: [Opcional] Devuelve el resultado en formato json
 |
 |  get_valores_climatologicos_normales(self, estacion, raw=False)
 |      Valores climatológicos normales (periodo 1981-2010) para la estación pasada por parámetro.
 |      Periodicidad: 1 vez al día.
 |      :param estacion: ID de la estación de IDEMA
 |      :param raw: [Opcional] Devuelve el resultado en formato json
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from AemetHttpClient:
 |
 |  __init__(self, api_key='', api_key_file='', headers={}, querystring={}, verbose=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  download_file_from_url(self, url, out_file)
 |      Creates a new file with the content of the image response from an url
 |      :param url: The URL
 |      :param out_file: Image filename
 |
 |  download_image_from_url(self, url, out_file)
 |      Creates a new file with the content of the image response from an url
 |      :param url: The URL
 |      :param out_file: Image filename
 |
 |  get_api_key(self)
 |
 |  get_headers(self)
 |
 |  get_querystring(self)
 |
 |  get_request_data(self, url, todos=False)
 |      Returns the JSON formatted request data
 |
 |  get_request_normalized_data(self, url, raw=False)
 |      Return the request raw content data
 |
 |  set_api_key(self, api_key)
 |
 |  set_headers(self, headers)
 |
 |  set_querystring(self, querystring)
 |
 |  ----------------------------------------------------------------------
 |  Static methods inherited from AemetHttpClient:
 |
 |  guardar_clave_api()
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from AemetHttpClient:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [7]:
#Descargo la lista de estaciones meteorológicas en el archivo idema.txt
aemet.get_archivo_codigos_idema('../datasets/idema.txt')

In [3]:
#Cargo el archivo donde he guardado las estaciones
idema = pd.read_csv('../datasets/idema.txt', delimiter='\t')

In [10]:
#Transformo el df para tener dos columnas, una para la estacion y otra para su descripción
idema[['estacion', 'descripcion']] = idema['{'].str.split(':', expand=True)
idema['estacion'] = idema['estacion'].str.replace(' ', '').str.replace('"', '').str.replace(':', '')
idema.drop('{', axis=1, inplace=True)

In [11]:
#Creo una función para buscar estaciones según su ubicación
def buscar_estaciones(ubicacion):
    return idema[idema['descripcion'].str.contains(ubicacion, case=False, na=False)]

In [12]:
#Creo una función para encontrar los registros de una estación en los años 1985 y 2022
def valores_mensuales_anyo(estacion, anyo_ini, anyo_fin):
    valores=[]
    for anyo in range(anyo_ini, anyo_fin+1):
        valores.extend(aemet.get_valores_climatologicos_mensuales(anyo, estacion))
        time.sleep(5)
    df = pd.DataFrame(valores)
    return df

In [13]:
#Busco las estaciones de Lugo
buscar_estaciones('lugo')

    estacion          descripcion
140     1505        "LUGO/ROZAS",
141    1518A   "LUGO-COL.FINGOI",

In [14]:
#Obtengo los registros de la estacion de Lugo/Rozas entre 1985 y 2022
lugo = valores_mensuales_anyo(1505, 1985, 2022)

In [5]:
#Guardo el dataframe obtenido
lugo.to_csv('../datasets/lugo.csv', index=False)

In [4]:
#Para cargar el CSV
lugo = pd.read_csv('../datasets/lugo.csv')

In [16]:
#Busco las estaciones de Barcelona
buscar_estaciones('barcelona')

   estacion               descripcion
7      0076   "BARCELONA/AEROPUERTO",
16    0201D          "BARCELONA CMT",
17    0201X   "BARCELONA  DRASSANES",

In [18]:
#Obtengo los registros de la estacion de Barcelona/Aeropuerto entre 1985 y 2022
barcelona = valores_mensuales_anyo('0076', 1985, 2022)

In [103]:
#Guardo el dataframe obtenido
barcelona.to_csv('../datasets/barcelona.csv', index=False)

In [5]:
#Para cargar el CSV
barcelona = pd.read_csv('../datasets/barcelona.csv')

In [100]:
#Busco las estaciones de Ávila
buscar_estaciones('toledo')

    estacion                           descripcion
278    3254Y   "MORA DE TOLEDO (AUTOM\u00c1TICA)",
279    3260B                             "TOLEDO",

In [78]:
#Obtengo los registros de la estacion de Toledo entre 1985 y 2022
toledo = valores_mensuales_anyo('3260B', 1985, 2022)

In [104]:
#Guardo el dataframe obtenido
toledo.to_csv('../datasets/toledo.csv', index=False)

In [6]:
#Para cargar el CSV
toledo = pd.read_csv('../datasets/toledo.csv')

## Exploración y transformación de las tablas

In [120]:
lugo.shape

(494, 45)

In [121]:
lugo.columns

Index(['fecha', 'indicativo', 'p_max', 'n_cub', 'hr', 'n_gra', 'n_fog', 'inso',
       'q_max', 'q_mar', 'q_med', 'tm_min', 'ta_max', 'ts_min', 'nt_30',
       'nv_0050', 'n_des', 'np_100', 'n_nub', 'p_sol', 'np_001', 'ta_min',
       'w_rec', 'e', 'np_300', 'nv_1000', 'evap', 'p_mes', 'n_llu', 'n_tor',
       'w_med', 'nt_00', 'ti_max', 'n_nie', 'tm_mes', 'tm_max', 'nv_0100',
       'q_min', 'np_010', 'nw_55', 'w_racha', 'nw_91', 'ts_20', 'ts_10',
       'ts_50'],
      dtype='object')

In [123]:
lugo.dtypes

fecha      object
p_mes     float64
tm_min    float64
ta_max     object
ta_min     object
p_mes     float64
n_llu     float64
tm_mes    float64
tm_max    float64
tm_min    float64
dtype: object

In [6]:
lugo.head()

,fecha,p_mes,tm_min,ta_max,ta_min,p_mes,n_llu,tm_mes,tm_max,tm_min
0,1985-10,17.2,6.2,27.4(13),-1.4(30),17.2,4.0,13.5,20.8,6.2
1,1985-11,103.0,3.2,20.0(07),-5.6(24),103.0,14.0,7.9,12.5,3.2
2,1985-12,151.8,3.0,23.4(02),-3.4(17),151.8,18.0,7.1,11.2,3.0
3,1985-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1985-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
lugo.isnull().sum()

fecha      0
p_mes     18
tm_min    20
ta_max    20
ta_min    20
p_mes     18
n_llu     43
tm_mes    20
tm_max    20
tm_min    20
dtype: int64

In [17]:
#Creo una función para seleccionar solo con las columnas que tienen valores que me interesan

def columnas_valores(dataframe):
    columnas = ['fecha', 'p_mes', 'n_llu', 'ta_max', 'ta_min', 'tm_mes', 'tm_max', 'tm_min']
    return dataframe[columnas]

In [18]:
#Creo una función para eliminar los caracteres que no sean número, punto o guion

def eliminar_caracteres(dataframe):
    for columna in dataframe.columns:
        dataframe.loc[:, columna] = dataframe[columna].astype(str).replace('[^0-9\.\-]', '', regex=True)
    return dataframe

In [19]:
'''He observado que la fila que contiene la fecha con el mes 13 contiene un resumen del año, creo una función
para crear un df con los registros anuales'''

def dataframe_anual(dataframe):
    return dataframe[dataframe['fecha'].str.contains('-13', na=False)].reset_index(drop=True)

In [20]:
#Creo una función para formatear la columna fecha antes de convertirla a datetime
def format_fecha(dataframe):
    dataframe['fecha'] = dataframe['fecha'].str.replace('-13', '')
    return dataframe

In [21]:
#Creo una función para convertir la columna a datetime
def a_datetime(dataframe):
    dataframe['fecha'] = pd.to_datetime(dataframe['fecha']).dt.year
    return dataframe

In [22]:
#Creo una función que convierte los valores del dataframe a numéricos
def a_numeric(dataframe):
    dataframe = dataframe.apply(pd.to_numeric, errors='coerce')
    return dataframe

In [23]:
#Creo una función que sustituye los NaN por la media de los valores de la columna
def nan_por_media(dataframe):
    dataframe = dataframe.fillna(dataframe.mean())
    dataframe = dataframe.round(2)
    return dataframe

In [24]:
#Creo una función para guardar el dataframe
def guardar_df(dataframe, nombre_archivo):
    dataframe.to_csv('../datasets/' + nombre_archivo + '.csv', index=False)

In [38]:
#Transformación del df lugo en lugo_anual
lugo = columnas_valores(lugo)
lugo = eliminar_caracteres(lugo)
lugo_anual = dataframe_anual(lugo)
lugo_anual = format_fecha(lugo_anual)
lugo_anual = a_datetime(lugo_anual)
lugo_anual = a_numeric(lugo_anual)
lugo_anual = nan_por_media(lugo_anual)
guardar_df(lugo_anual, 'lugo_anual')

In [7]:
#Para cargar el CSV lugo_anual
lugo_anual = pd.read_csv('../datasets/lugo_anual.csv')

In [25]:
#Transformación del df barcelona en barcelona_anual
barcelona = columnas_valores(barcelona)
barcelona = eliminar_caracteres(barcelona)
barcelona_anual = dataframe_anual(barcelona)
barcelona_anual = format_fecha(barcelona_anual)
barcelona_anual = a_datetime(barcelona_anual)
barcelona_anual = a_numeric(barcelona_anual)
barcelona_anual = nan_por_media(barcelona_anual)
guardar_df(barcelona_anual, 'barcelona_anual')

/var/folders/c4/q4g9gfss40b99pgtrgdmszbh0000gn/T/ipykernel_5964/3975086519.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.loc[:, columna] = dataframe[columna].astype(str).replace('[^0-9\.\-]', '', regex=True)

In [8]:
#Para cargar el CSV barcelona_anual
barcelona_anual = pd.read_csv('../datasets/barcelona_anual.csv')

In [42]:
#Transformación del df toledo en toledo_anual
toledo = columnas_valores(toledo)
toledo = eliminar_caracteres(toledo)
toledo_anual = dataframe_anual(toledo)
toledo_anual = format_fecha(toledo_anual)
toledo_anual = a_datetime(toledo_anual)
toledo_anual = a_numeric(toledo_anual)
toledo_anual = nan_por_media(toledo_anual)
guardar_df(toledo_anual, 'toledo_anual')

In [9]:
#Para cargar el CSV toledo_anual
toledo_anual = pd.read_csv('../datasets/toledo_anual.csv')

In [10]:
lugo_anual

fecha       int64
p_mes     float64
n_llu     float64
ta_max    float64
ta_min    float64
tm_mes    float64
tm_max    float64
tm_min    float64
dtype: object

In [14]:
barcelona_anual

    fecha    p_mes   n_llu  ta_max  ta_min  tm_mes  tm_max  tm_min
0    1985   511.70   90.91   33.53   -7.22   15.10   19.80   10.40
1    1986   571.20   92.00   33.52   -1.61   15.40   20.10   10.60
2    1987   984.80  100.00   32.52   -3.52   15.60   20.10   11.10
3    1988   426.00   88.00   32.40   -1.53   15.70   20.70   10.70
4    1989   573.20  102.00   32.62    0.80   16.40   21.00   11.80
5    1990   684.20   84.00   33.80    0.01   16.70   20.90   12.40
6    1991   628.00   99.00   30.02   -0.82   14.90   19.30   10.50
7    1992   534.70  104.00   31.60   -1.62   14.80   19.10   10.40
8    1993   695.80   97.00   32.02   -1.42   14.80   19.10   10.50
9    1994   561.40   78.00   34.01    0.22   16.80   20.90   12.70
10   1995   536.10  113.00   32.41    0.40   16.60   20.50   12.70
11   1996  1025.50  133.00   32.62   -1.02   16.20   19.90   12.40
12   1997   456.80   85.00   31.41    2.81   17.00   20.80   13.20
13   1998   501.70   81.00   32.01    1.43   16.80   21.00   12.60
14   1999   385.20   83.00   32.31   -0.20   16.70   20.80   12.60
15   2000   404.60   91.00   34.02    1.02   16.10   20.00   12.10
16   2001   474.90   74.00   30.23   -3.62   15.30   19.10   11.50
17   2002   773.30   96.00   30.31    1.62   15.70   19.70   11.60
18   2003   651.60   88.00   37.31   -1.11   17.40   21.70   13.20
19   2004   507.50   92.00   34.01   -0.20   17.20   21.20   13.10
20   2005   581.00   97.00   34.93   -1.53   16.50   20.40   12.50
21   2006   361.60   82.00   33.52    0.23   17.40   21.40   13.30
22   2007   534.60   83.00   31.82   -1.22   16.90   21.10   12.60
23   2008   509.50  107.00   32.10   -0.10   16.50   20.50   12.30
24   2009   565.73   90.91   35.62   -2.72   16.70   20.80   12.60
25   2010   565.73   90.91   37.43   -2.03   15.80   19.90   11.70
26   2011   700.20   89.00   33.02   -3.32   17.20   21.40   13.00
27   2012   446.20   84.00   34.02   -3.50   17.00   21.20   12.80
28   2013   590.40   93.00   33.03    0.72   16.90   20.70   13.10
29   2014   565.73   90.91   33.17   -0.67   16.52   20.64   12.37
30   2015   323.90   70.00   33.01    0.51   17.50   21.40   13.60
31   2016   406.90   90.91   31.80    1.42   17.50   21.30   13.60
32   2017   353.70   81.00   34.30   -0.62   17.60   21.60   13.50
33   2018   753.40  110.00   37.00    0.61   17.80   21.60   13.90
34   2019   672.80   80.00   35.03    1.31   17.50   21.50   13.40
35   2020  1012.50   86.00   32.10    2.33   17.60   21.50   13.60
36   2021   334.00   82.00   32.52   -0.51   17.30   21.00   13.60
37   2022   331.80   76.00   33.17   -0.67   16.52   20.64   12.37

In [13]:
toledo_anual

    fecha   p_mes   n_llu  ta_max  ta_min  tm_mes  tm_max  tm_min
0    1985  283.10   90.85   41.02   -8.91    15.6   22.10    9.00
1    1986  251.40   90.85   40.83   -5.01    15.3   21.80    8.70
2    1987  365.20  104.00   41.61   -5.21    15.9   22.00    9.80
3    1988  403.10  102.00   40.40   -4.53    15.2   21.20    9.10
4    1989  381.30  103.00   41.02   -5.80    16.5   22.70   10.30
5    1990  233.30   84.00   41.32   -6.52    16.1   22.30    9.80
6    1991  270.70   97.00   41.81   -5.01    15.4   21.60    9.10
7    1992  294.50   92.00   40.52   -6.02    15.2   21.70    8.50
8    1993  406.30   93.00   41.12   -6.60    14.4   20.60    8.30
9    1994  188.10   73.00   40.73   -7.53    16.2   22.80    9.70
10   1995  235.70   88.00   42.42   -4.01    17.0   23.30   10.70
11   1996  445.60   95.00   39.12   -3.52    15.7   21.60    9.70
12   1997  459.20  104.00   39.40   -2.82    16.4   22.40   10.30
13   1998  389.20   77.00   39.41   -5.92    15.7   22.10    9.30
14   1999  307.90   82.00   41.20   -5.40    15.9   22.30    9.50
15   2000  331.10   87.00   40.33   -5.82    15.8   22.40    9.20
16   2001  340.10  104.00   40.42   -8.02    16.0   22.20    9.80
17   2002  362.90  104.00   40.13   -3.22    16.1   22.20    9.90
18   2003  300.30   99.00   42.00   -5.52    16.6   22.80   10.20
19   2004  399.70   83.00   40.82   -5.40    15.6   22.10    9.10
20   2005  159.60   56.00   41.21   -9.63    15.9   22.80    9.00
21   2006  373.60   92.00   40.41   -5.63    16.8   23.10   10.40
22   2007  382.50   86.00   41.30   -6.32    15.4   21.90    8.90
23   2008  396.20   99.00   40.60   -4.30    15.8   22.00    9.50
24   2009  333.50   84.00   41.03   -6.22    16.7   23.10   10.30
25   2010  543.00  108.00   39.93   -5.72    15.7   21.50    9.80
26   2011  289.60   90.85   39.92   -5.02    16.9   23.40   10.40
27   2012  316.70   70.00   43.11   -6.11    16.1   22.70    9.40
28   2013  391.00   88.00   40.30   -4.61    15.5   21.90    9.20
29   2014  390.40   99.00   40.62   -5.33    16.8   22.90   10.60
30   2015  231.00   90.85   42.81   -4.21    17.0   23.70   10.20
31   2016  395.40   90.85   41.31   -3.02    16.8   23.00   10.40
32   2017  221.80   90.85   42.81   -4.52    17.4   24.30   10.40
33   2018  449.40   90.85   42.60   -4.92    16.2   22.40   10.10
34   2019  338.38   90.85   41.93   -4.41    17.1   23.80   10.30
35   2020  307.40   90.85   42.53   -3.21    17.0   23.20   10.70
36   2021  338.38   90.85   41.06   -5.39    16.1   22.44    9.71
37   2022  351.70   90.85   41.06   -5.39    16.1   22.44    9.71

In [15]:
barcelona

,fecha,indicativo,p_max,n_cub,hr,n_gra,n_fog,inso,q_max,nw_55,...,w_med,nt_00,ti_max,n_nie,tm_mes,tm_max,nv_0100,q_min,np_010,glo
0,1985-10,76,36.0(27),7,78.0,0.0,0.0,5.3,1028.3(11),2.0,...,9.0,0.0,16.8,0.0,18.3,23.1,0.0,1008.4(31),10.0,NaN
1,1985-11,76,36.8(12),9,76.0,0.0,0.0,4.2,1025.7(14),1.0,...,9.0,2.0,8.4,0.0,10.9,15.4,0.0,1003.3(12),8.0,NaN
2,1985-12,76,25.2(08),3,75.0,0.0,1.0,5.3,1030.3(02),0.0,...,10.0,1.0,8.0,0.0,10.1,15.4,0.0,998.9(28),5.0,NaN
3,1985-13,76,37.9(21/abr),63,73.0,NaN,5.0,NaN,1032.5(23/feb),NaN,...,12.0,19.0,0.8,NaN,15.1,19.8,0.0,NaN,57.0,NaN
4,1985-1,76,5.3(12),10,68.0,NaN,0.0,3.8,1028.8(30),2.0,...,13.0,16.0,0.8,NaN,5.1,9.9,0.0,997.9(18),3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
489,2022-5,76,24.2(24),3,62.0,0.0,0.0,9.6,1025.0(20),NaN,...,15.0,0.0,20.7,0.0,20.5,24.3,0.0,1004.4(30),2.0,NaN
490,2022-6,76,3.8(21),2,65.0,0.0,1.0,9.9,1021.4(11),NaN,...,16.0,0.0,24.4,0.0,24.8,28.2,0.0,1007.4(22),1.0,NaN
491,2022-7,76,2.1(05),1,60.0,0.0,0.0,10.3,1022.1(08),1.0,...,15.0,0.0,26.2,0.0,27.0,30.6,0.0,1010.6(27),1.0,NaN
492,2022-8,76,45.9(17),0,64.0,1.0,0.0,9.7,1018.6(19),2.0,...,16.0,0.0,27.5,0.0,27.3,31.5,0.0,1005.3(14),7.0,NaN
493,2022-9,76,13.7(23),2,63.0,0.0,0.0,6.9,1019.7(10),NaN,...,16.0,0.0,23.2,0.0,24.0,27.8,0.0,1000.4(29),1.0,NaN